

{% include 'base\base.html' %}

{% load static %}
{% block title %} Add Brand {% endblock %}
{% block styles %}


<style>

  body{
    padding-left:250px;
  }
  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  .form-control {
    border-radius: 5px;
    height: 40px; 
    border: 1px solid #dfcdcd; 
    background-color: #ffffff;
    transition: border-color 0.2s ease-in-out; 
  }

  .form-control:hover {
    border-color: #4e7454;
  }
  .form-control:focus {
    background-color: #f2f2f2; 
    border-color: #4e7454; 
  }

  .container {
    margin: 100px auto 30px; 
    padding-top: 50px; 
    width: 90%;
    max-width: 1000px;
    border: 2px solid #fffefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.519);
    background-color: #fdfbfb;
  }

  .custom-header {
    text-align: center;
    color: #264f36;
    margin-bottom: 30px;
  }

  select {
    width: 100%;
    height: 40px; 
  }

  .custom-file-label {
    border: 2px solid #ced4da; 
    border-radius: 5px; 
    padding: 8px 12px; 
    cursor: pointer; 
  }

  .custom-file-label:hover {
    background-color: #c6d8ea; 
  }

  .section-title {
    font-size: 1.2em;
    color: #000000; 
    background: linear-gradient(90deg, rgb(176, 222, 208) 0%, rgb(85, 190, 113) 100%);
    padding-bottom: 10px; 
    padding-top: 1.5%;
    margin-bottom: 20px; 
    box-shadow: 0px 4px 6px rgba(73, 70, 70, 0.433), 0px 1px 3px rgba(95, 102, 126, 0.08);
    padding-left: 5%;
    text-align: center;
  }

  .image-container {
    text-align: center;
    padding-top: 2%;
  }

  .drag-drop-area {
    height: 130px;
    border: 2px dashed #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }

  .upload-label {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .buttons {
    text-align: center;
  }

</style>
{% endblock %}
{% block content %}
</head>
<body>
  <div class="container">
    <h3 class="custom-header">Category Form</h3>
    <form method="post" action="{% url 'add_category' %}">
      {% csrf_token %}
      <h4 class="section-title"> Add Category</h4>
        <div class="form-group">
          <label for="first_name">Category ID</label>
          <input type="text" class="form-control" id="Category_id" name="Category_id" placeholder="Category_id" required>
          <label for="first_name">Category Name</label>
          <input type="text" class="form-control" id="Category_name" name="Category_name" placeholder="Category_name" required>
        </div>
        <div class="buttons mt-4">
          <button type="submit" class="btn btn-sm btn-primary mr-2">Submit</button>
          <button type="button" class="btn btn-sm btn-danger" onclick="clearForm()">Clear</button>
        </div>  
    </form>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Select2 JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

  {% endblock %}
