{% include 'base\base.html' %}

{% load static %}
{% block title %} Add Manufacturer {% endblock %}

{% block styles %}
<style>
    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }

    .form-control {
      border-radius: 5px;
      height: 40px; 
      border: 1px solid #dfcdcd; 
      background-color: #ffffff;
      transition: border-color 0.2s ease-in-out; 
    }
  
    .form-control:hover {
      border-color: #4e7454;
    }
    .form-control:focus {
      background-color: #f2f2f2; 
      border-color: #4e7454; 
    }

    /* .container {
      margin: 100px auto 30px; 
      width:83%;
      left: 300px;
      padding-top: 50px;
      margin-bottom: 30px;
      border: 2px solid #fffefe;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.519);
      background-color: #e3e3e3;
    } */
    .container {
    margin-top: 100px; 
    width: 80%;
    left: 200px;
    border: 2px solid #fffefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.519);
    background-color: #ffffff;
  }
    .custom-header {
      text-align: center;
      color: #264f36;
      margin-bottom: 30px;
    }

    select {
      width: 100%;
      height: 40px; 
    }

    .custom-file-label {
      border: 2px solid #ced4da; 
      border-radius: 5px; 
      padding: 8px 12px; 
      cursor: pointer; 
    }

    .custom-file-label:hover {
      background-color: #c6d8ea; 
    }

    .section-title {
      font-size: 1.2em;
      color: #000000; 
      background: linear-gradient(90deg, rgb(176, 222, 208) 0%, rgb(85, 190, 113) 100%);
      padding-bottom: 10px; 
      padding-top: 1.5%;
      margin-bottom: 20px; 
      box-shadow: 0px 4px 6px rgba(73, 70, 70, 0.433), 0px 1px 3px rgba(95, 102, 126, 0.08);
      padding-left: 12%;
    }

    .image-container {
      text-align: center;
      padding-top: 2%;
    }

    .drag-drop-area {
      height: 130px;
      border: 2px dashed #ccc;
      padding: 20px;
      margin-bottom: 20px;
    }

    .upload-label {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }

    .buttons {
      margin-left: -15px;
    }

    @media (max-width: 768px) {
      .container {
      max-width: 100%;
      margin-left: 100px;

      }
    }

    @media (max-width: 992px) {
      .container {
        max-width: 70%;
      }
    }

  </style>
{% endblock %}

{% block content %}

</head>
<body>
  <div class="container">
    <h3 class="custom-header">Manufacturer Details</h3>
    <form method="post" action="{% url 'edit_manufacture' id=manufacture.id %}">
      {% csrf_token %}
      <div class="row">
          <div class="col-md-4">
              <h4 class="section-title">Personal Information</h4>
              <div class="form-group">
                  <label for="manufacturer_name">Company Name</label>
                  <input type="text" class="form-control" id="manufacturer_name" name="manufacturer_name" value="{{ manufacture.Company_Name }}" readonly>
              </div>               
              <div class="form-group">
                  <label for="manufacturer_email">Email-ID</label>
                  <input type="email" class="form-control" id="manufacturer_email" name="manufacturer_email" value="{{ manufacture.email }}" required>
              </div>
              <div class="form-group">
                  <label for="manufacturer_contact">Contact Number</label>
                  <input type="tel" class="form-control" id="manufacturer_contact" name="manufacturer_contact" value="{{ manufacture.contact_number }}" required>
              </div>
              <div class="form-group">
                  <label for="gstin_number">GSTIN Number</label>
                  <input type="text" class="form-control" id="gstin_number" name="gstin_number" value="{{ manufacture.gstin_number }}" readonly >
              </div>
              <div class="form-group">
                  <label for="pan_number">PAN Number</label>
                  <input type="text" class="form-control" id="pan_number" name="pan_number" value="{{ manufacture.pan_number }}" >
              </div>
              <div class="form-group">
                  <label for="manufacturer_address">Address</label>
                  <input type="text" class="form-control" id="manufacturer_address" name="manufacturer_address" style="height: 64px; text-align: top;" value="{{ manufacture.address }}" required>
              </div>                
          </div>
  
          <div class="col-md-4">
              <h4 class="section-title">Bank Information</h4>
              <div class="form-group">
                  <label for="bank_account_number">Bank Account Number</label>
                  <input type="text" class="form-control" id="bank_account_number" name="bank_account_number" value="{{ manufacture.bank_account_number }}" required>
              </div>
              <div class="form-group">
                  <label for="ifsc_code">IFSC Code</label>
                  <input type="text" class="form-control" id="ifsc_code" name="ifsc_code" value="{{ manufacture.ifsc_code }}" required>
              </div>
              <div class="form-group">
                  <label for="bank_name">Bank Name</label>
                  <input type="text" class="form-control" id="bank_name" name="bank_name" value="{{ manufacture.bank_name }}"  required>
              </div>
          </div>
  
          <div class="col-md-4">
              <h4 class="section-title">Business Information</h4>
              <div class="form-group">
                  <label for="business_type">Business Type</label>
                  <select class="form-control" id="business_type" name="business_type" aria-readonly="true">
                      <option value="">{{ manufacture.business_type }}</option>
                      <option value="Private Limited Company">Private Limited Company</option>
                      <option value="Public Limited Company">Public Limited Company</option>
                      <option value="Partnership">Partnership</option>
                      <option value="Sole Proprietorship">Sole Proprietorship</option>
                      <option value="Limited Liability Partnership (LLP)">Limited Liability Partnership (LLP)</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="business_license">Business License Number</label>
                  <input type="text" class="form-control" id="business_license" name="business_license" value="{{ manufacture.business_license_number }}" readonly>
              </div>
          </div>
      </div>
  
      <div class="col-md-12 mt-4">
          <div class="buttons">
              <button type="submit" class="btn btn-sm btn-primary mr-2">Submit</button>
              <button type="button" class="btn btn-sm btn-danger" onclick="clearForm()">Clear</button>
          </div>
      </div>
  </form>
  
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Select2 JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>
    // Your JavaScript code here
  </script>
{% endblock %}

