{% include 'base/base.html' %}
{% load static %}

{% block title %} Stock Transfer Request {% endblock %}

{% block styles %}
<style>
  body {
    padding-left: 250px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  .form-control {
    border-radius: 5px;
    height: 40px;
    border: 1px solid #dfcdcd;
    background-color: #ffffff;
    transition: border-color 0.2s ease-in-out;
  }

  .form-control:hover {
    border-color: #4e7454;
  }

  .form-control:focus {
    background-color: #f2f2f2;
    border-color: #4e7454;
  }

  .container {
    margin: 80px 80px 30px 0px;
    padding-top: 50px;
    width: 100%;
   
    padding: 20px;
    
  }

  .custom-header {
    text-align: center;
    color: #264f36;
    margin-bottom: 30px;
  }

  select.form-control {
    width: 100%;
    height: 40px;
  }

  .custom-file-label {
    border: 2px solid #ced4da;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
  }

  .custom-file-label:hover {
    background-color: #c6d8ea;
  }

  .section-title {
    font-size: 1.2em;
    color: #000000;
    background: linear-gradient(90deg, rgb(176, 222, 208) 0%, rgb(85, 190, 113) 100%);
    padding-bottom: 10px;
    padding-top: 1.5%;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(73, 70, 70, 0.433), 0px 1px 3px rgba(95, 102, 126, 0.08);
    
    text-align: center;
  }

  .buttons {
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
    
  
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
  
    <form id="transfer-request-form" method="post" action="{% url 'edit_stock_transfer_send' stock_transfer_send.id %}">
      {% csrf_token %}
      <h4 class="section-title">Edit Stock Transfer Details</h4>
      <div class="form-group">
        <label for="transfer_request_id">Select Transfer Request</label>
        <select id="transfer_request_id" name="transfer_request_id" class="form-control" required disabled>
          <option value="{{ stock_transfer_send.transfer_request.id }}">
            Request ID: {{ stock_transfer_send.transfer_request.id }} | Product: {{ stock_transfer_send.product.product_name }} | From: {{ stock_transfer_send.source_warehouse.name }} to {{ stock_transfer_send.destination_warehouse.name }}
          </option>
        </select>
      </div>
  
      <div id="transfer-details">
        
        <div class="form-group">
          <label for="request_date">Request Date</label>
          <input type="text" class="form-control" id="request_date" name="request_date" value="{{ stock_transfer_send.transfer_request.request_date }}" readonly>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="source_warehouse">Source Warehouse</label>
              <input type="text" class="form-control" id="source_warehouse" name="source_warehouse" value="{{ stock_transfer_send.source_warehouse.name }}" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="destination_warehouse">Destination Warehouse</label>
              <input type="text" class="form-control" id="destination_warehouse" name="destination_warehouse" value="{{ stock_transfer_send.destination_warehouse.name }}" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="product_name">Product</label>
              <input type="text" class="form-control" id="product_name" name="product_name" value="{{ stock_transfer_send.product.product_name }}" readonly>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label for="quantity_requested">Quantity Requested</label>
              <input type="number" class="form-control" id="quantity_requested" name="quantity_requested" value="{{ stock_transfer_send.quantity_requested }}" readonly>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="quantity_sent">Quantity Sent</label>
          <input type="number" class="form-control" id="quantity_sent" name="quantity_sent" value="{{ stock_transfer_send.quantity_sent }}" min="1" max="{{ stock_transfer_send.quantity_requested }}" required>
        </div>
  
        <div class="buttons mt-4">
          <button type="submit" class="btn btn-sm btn-primary mr-2">Update</button>
          <button type="reset" class="btn btn-sm btn-danger">Clear</button>
        </div>
      </div>
    </form>
  </div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

{% endblock %}
